%h2.section_name Секция &laquo;#{conference_section.section.name}&raquo;
%ol.section
  - conference_section.discourses.moderated.each do |d|
    %li.discourse
      = render 'discourses/discourse', :discourse=>d
