vendor/bundle
rerun*
coverage*
capybara*
log/*
coverage
config/app_config.yml
db/*.sql
db/sphinx/*
config/settings.yml
config/settings/*
db/mongo
nbproject
*.stackdump
.sass-cache
.bundle
*~
.#*
*#
.emacs*
TAGS
dump
.DS_Store
config/database.yml
GPATH
GSYMS
GTAGS
GRTAGS
.open-files
.files
.DS_Store
log/*.log
log/*.pid
log/*.lock
tmp/**/*
tmp/*
db/*.sqlite3
db/schema.rb
features/rcov/
*~
*.swp
*.swo
