%ul#login
  - if signed_in?
    %li= link_to "#{current_user.name || current_user.email}", edit_user_registration_path
    %li= link_to 'выйти', destroy_user_session_path
  - elsif controller_name != 'sessions'
    %li= link_to "Вход..", new_user_session_path
