/*
Syntax error: Invalid CSS after "...or_3,$lightness": expected ")", was "=20,$hover=true)"
        on line 11 of /Users/danil/code/chebit/app/stylesheets/success-sasses/mixins/sass_tools.sass

6: =h-grad($color_1,$color_2)
7:   :background-color $color_1
8:   :background -webkit-gradient(linear, left top, right top, from(#{$color_1}), to(#{$color_2}))
9:   :background -moz-linear-gradient(center left, #{$color_1} 0%, #{$color_2} 100%)
10: 
11: =shiny-button($color_1,$color_2,$color_3,$lightness=20,$hover=true)
12:   :background-color $color_2
13:   :background -webkit-gradient(linear, left top, left bottom, color-stop(0, #{$color_1}), color-stop(0.17, #{$color_2}), color-stop(1, #{$color_3}) )
14:   :background -moz-linear-gradient(top, #{$color_1} 0%, #{$color_2} 17%,  #{$color_3} 100%)
15:   :text-align center
16:   :text-decoration none

Backtrace:
/Users/danil/code/chebit/app/stylesheets/success-sasses/mixins/sass_tools.sass:11
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:898:in `expected'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:448:in `assert_tok'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:328:in `defn_arglist!'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:102:in `parse_mixin_definition_arglist'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:776:in `parse_mixin_definition'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:546:in `parse_line'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:447:in `build_tree'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:466:in `append_children'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:465:in `each'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:465:in `append_children'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:322:in `_to_tree'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:291:in `_render'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:239:in `render'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/engine.rb:239:in `render'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/sass-3.1.4/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/warden-1.0.4/lib/warden/manager.rb:35:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:32:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:12:in `cache'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activerecord-3.0.9/lib/active_record/query_cache.rb:31:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activerecord-3.0.9/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activesupport-3.0.9/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/rack/logger.rb:13:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/activesupport-3.0.9/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/lock.rb:11:in `synchronize'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/actionpack-3.0.9/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/application.rb:168:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/application.rb:77:in `send'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/application.rb:77:in `method_missing'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/danil/.rvm/rubies/ree-1.8.7-2011.03/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/handler/webrick.rb:13:in `run'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/rack-1.2.3/lib/rack/server.rb:217:in `start'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/commands/server.rb:65:in `start'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/commands.rb:30
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/commands.rb:27:in `tap'
/Users/danil/.rvm/gems/ree-1.8.7-2011.03@planposter/gems/railties-3.0.9/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...or_3,$lightness\": expected \")\", was \"=20,$hover=true)\"\A         on line 11 of /Users/danil/code/chebit/app/stylesheets/success-sasses/mixins/sass_tools.sass\A \A 6: =h-grad($color_1,$color_2)\A 7:   :background-color $color_1\A 8:   :background -webkit-gradient(linear, left top, right top, from(#{$color_1}), to(#{$color_2}))\A 9:   :background -moz-linear-gradient(center left, #{$color_1} 0%, #{$color_2} 100%)\A 10: \A 11: =shiny-button($color_1,$color_2,$color_3,$lightness=20,$hover=true)\A 12:   :background-color $color_2\A 13:   :background -webkit-gradient(linear, left top, left bottom, color-stop(0, #{$color_1}), color-stop(0.17, #{$color_2}), color-stop(1, #{$color_3}) )\A 14:   :background -moz-linear-gradient(top, #{$color_1} 0%, #{$color_2} 17%,  #{$color_3} 100%)\A 15:   :text-align center\A 16:   :text-decoration none"; }
