.vacancies
  %h2 Редактировать вакансию
  = simple_form_for( @vacancy ) do |f|
    = f.input :title, :input_html => { :maxlength => 100 }, :label=>'Заголовок'
    = f.input :text, :as => :text, :input_html => { :cols=> 55, :rows=>5 }
    = f.input :active_until, :label=>'Активна до'

    .actions
      .vbuttons
        %button.cupid-blue Отредактировать