.vacancies
  %h1 
    Вакансии
    %span (#{@vacancies.count})
  - unless @vacancies.empty? 
    = render @vacancies 
  = will_paginate @vacancies 
  %br

  - if !current_user.nil? 
    = link_to "Добавить вакансию", new_vacancy_path
