@charset "UTF-8";
/* @import "compass/css3/gradient" */
/* line 3, ../../app/stylesheets/_nifty.sass */
body {
  background-color: #333333;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 10, ../../app/stylesheets/_nifty.sass */
a {
  color: blue;
}
/* line 12, ../../app/stylesheets/_nifty.sass */
a img {
  border: none;
}

/* line 15, ../../app/stylesheets/_nifty.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 20, ../../app/stylesheets/_nifty.sass */
#container {
  width: 900px;
  margin: 20px auto 10px auto;
  background-image: url(/images/bg.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: white;
  border: solid 1px black;
  -moz-box-shadow: black;
  -webkit-box-shadow: black;
  -o-box-shadow: black;
  box-shadow: black;
}

/* line 32, ../../app/stylesheets/_nifty.sass */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 38, ../../app/stylesheets/_nifty.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 42, ../../app/stylesheets/_nifty.sass */
#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 47, ../../app/stylesheets/_nifty.sass */
.fieldWithErrors {
  display: inline;
}

/* line 50, ../../app/stylesheets/_nifty.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 59, ../../app/stylesheets/_nifty.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 68, ../../app/stylesheets/_nifty.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 70, ../../app/stylesheets/_nifty.sass */
.error_messages ul {
  margin: 0;
}

/* line 1, ../../app/stylesheets/_topper.sass */
#topper {
  width: 900px;
  margin: 30px auto 0px auto;
  color: #999999;
  font-size: 12px;
}
/* line 6, ../../app/stylesheets/_topper.sass */
#topper .avatar {
  display: inline;
  padding-right: 5px;
}
/* line 9, ../../app/stylesheets/_topper.sass */
#topper a {
  color: #999999;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#topper a:hover {
  color: red;
}

/* line 2, ../../app/stylesheets/_header.sass */
#header {
  margin-bottom: 0px;
  padding: 40px 80px 30px 80px;
}
/* line 8, ../../app/stylesheets/_header.sass */
#header h2 {
  color: gray;
  float: right;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
}
/* line 14, ../../app/stylesheets/_header.sass */
#header .logo {
  float: left;
  width: 200px;
}
/* line 17, ../../app/stylesheets/_header.sass */
#header .logo h1 {
  font-family: impact, sans-serif;
  font-size: 54px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 25, ../../app/stylesheets/_header.sass */
#header .logo h1 a {
  color: #4b7399;
  text-decoration: none;
}
/* line 28, ../../app/stylesheets/_header.sass */
#header .logo h1 a:hover {
  text-decoration: underline;
  color: red;
}
/* line 31, ../../app/stylesheets/_header.sass */
#header .logo .desc {
  padding: 0px 0px 0px 0px;
  color: gray;
  font-style: italic;
  font-size: 13px;
}
/* line 38, ../../app/stylesheets/_header.sass */
#header .header-info {
  width: 400px;
  font-size: 11px;
  float: right;
  padding-top: 3px;
  /* 370px */
  color: gray;
}
/* line 45, ../../app/stylesheets/_header.sass */
#header .header-info p {
  text-align: right;
  padding: 0 0 7px 0;
  margin: 0 0 5px 0;
}
/* line 49, ../../app/stylesheets/_header.sass */
#header .header-info p span {
  font-weight: bold;
}
/* line 51, ../../app/stylesheets/_header.sass */
#header .header-info p.conf {
  font-weight: bold;
  color: #333333;
  font-size: 12px;
}

/* line 2, ../../app/stylesheets/_mainmenu.sass */
ul#mainmenu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  background-color: black;
  padding: 8px 15px 8px 80px;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#mainmenu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#mainmenu li:first-child, ul#mainmenu li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#mainmenu li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#mainmenu li.last {
  padding-right: 0;
}
/* line 6, ../../app/stylesheets/_mainmenu.sass */
ul#mainmenu li {
  padding: 0px 25px 0px 0px;
  color: white;
}
/* line 9, ../../app/stylesheets/_mainmenu.sass */
ul#mainmenu li a {
  text-decoration: none;
  color: #666666;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
ul#mainmenu li a:hover {
  text-decoration: underline;
}
/* line 12, ../../app/stylesheets/_mainmenu.sass */
ul#mainmenu li a:hover {
  color: white;
}

/* line 1, ../../app/stylesheets/_content.sass */
#content {
  padding: 25px 80px 10px 80px;
}
/* line 3, ../../app/stylesheets/_content.sass */
#content .info {
  padding-bottom: 20px;
}

/* line 1, ../../app/stylesheets/_footer.sass */
#footer {
  background-image: url(/images/bg_footer.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: white;
  border-top: 1px dashed #999999;
  margin-top: 30px;
  padding: 30px 80px 40px 80px;
  font-size: 11px;
  color: gray;
  width: auto;
}
/* line 13, ../../app/stylesheets/_footer.sass */
#footer img {
  margin-top: 15px;
}
/* line 15, ../../app/stylesheets/_footer.sass */
#footer span {
  float: left;
}
/* line 17, ../../app/stylesheets/_footer.sass */
#footer ul.partners {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul.partners li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul.partners li:first-child, #footer ul.partners li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul.partners li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer ul.partners li.last {
  padding-right: 0;
}
/* line 20, ../../app/stylesheets/_footer.sass */
#footer ul.partners li {
  padding-top: 0px;
}
/* line 23, ../../app/stylesheets/_footer.sass */
#footer ul.partners li:before {
  color: #666666;
  content: ",";
  margin-left: -1ex;
  margin-right: 1ex;
}

/* line 1, ../../app/stylesheets/_bottom.sass */
#bottom {
  font-size: 12px;
  width: 900px;
  margin: 0px auto;
  color: #666666;
  /* p */
  /*   text-align: right */
}
/* line 6, ../../app/stylesheets/_bottom.sass */
#bottom a {
  color: #777777;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#bottom a:hover {
  color: red;
}

/* line 2, ../../app/stylesheets/_show_table.sass */
table.show_table th {
  text-align: left;
  width: 200px;
  color: #666666;
}

/* line 1, ../../app/stylesheets/_b-discourse.sass */
.b-discourse {
  padding-bottom: 20px;
}
/* line 3, ../../app/stylesheets/_b-discourse.sass */
.b-discourse h1 {
  padding-bottom: 0px;
}
/* line 6, ../../app/stylesheets/_b-discourse.sass */
.b-discourse p span {
  font-weight: bold;
  color: gray;
}

/* line 1, ../../app/stylesheets/_b-user.sass */
.b-user {
  float: left;
  width: 235px;
  height: 90px;
  padding: 0px 10px 15px 0px;
}
/* line 8, ../../app/stylesheets/_b-user.sass */
.b-user .avatar {
  float: left;
  padding: 0px 10px 5px 0px;
}
/* line 11, ../../app/stylesheets/_b-user.sass */
.b-user .name {
  line-height: 13px;
  /* font-weight: bold */
  /* color: #666 */
}
/* line 16, ../../app/stylesheets/_b-user.sass */
.b-user .occupation {
  padding-top: 5px;
  font-size: 11px;
  line-height: 11px;
  color: #666666;
}
/* line 21, ../../app/stylesheets/_b-user.sass */
.b-user .info {
  font-size: 11px;
  color: gray;
}
/* line 26, ../../app/stylesheets/_b-user.sass */
.b-user .user-desc {
  clear: both;
}
/* line 28, ../../app/stylesheets/_b-user.sass */
.b-user .user-desc .user-discourses-counts {
  font-size: 11px;
  color: #aaaaaa;
  padding-bottom: 5px;
}
/* line 32, ../../app/stylesheets/_b-user.sass */
.b-user .user-desc .tags {
  font-size: 11px;
}

/* line 2, ../../app/stylesheets/_b-user-show.sass */
.b-user-show .avatar {
  float: right;
}
/* line 4, ../../app/stylesheets/_b-user-show.sass */
.b-user-show table.show_table {
  float: left;
}
/* line 6, ../../app/stylesheets/_b-user-show.sass */
.b-user-show table.show_table .user_tag_list {
  color: gray;
}

/* line 43, ../../app/stylesheets/screen.sass */
a.multi-line-button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  margin: 0.2em auto;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #60a3d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));
  background-image: -webkit-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -moz-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -o-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -ms-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  border-color: #2970a9;
  border-left-color: #60a3d8;
  border-top-color: #60a3d8;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: #2e7ebd 0 1px 2px;
}
/* line 12, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button .title {
  font-size: 24px;
  font-weight: bold;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 17, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button .subtitle {
  font-size: 14px;
  display: block;
  margin-top: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 23, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 25, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 27, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button:active {
  padding: 13px 15px 11px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button:hover, a.multi-line-button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9dc7e7), color-stop(50%, #74afdd), color-stop(100%, #378bce));
  background-image: -webkit-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -moz-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -o-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -ms-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: linear-gradient(top, #9dc7e7, #74afdd, #378bce);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button:active, a.multi-line-button.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5796c8), color-stop(100%, #6aa2ce));
  background-image: -webkit-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -moz-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -o-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -ms-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: linear-gradient(top, #5796c8, #6aa2ce);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #2970a9;
}
/* line 45, ../../app/stylesheets/screen.sass */
a.multi-line-button:hover {
  color: white;
}
/* line 47, ../../app/stylesheets/screen.sass */
a.multi-line-button.green {
  background-color: #63bb4a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -moz-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -o-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -ms-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  border-color: #3b742b;
  border-left-color: #63bb4a;
  border-top-color: #63bb4a;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  color: white;
  text-shadow: #458632 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.green:hover, a.multi-line-button.green:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -moz-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -o-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -ms-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: linear-gradient(top, #93d082, #73c25d, #4e9939);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.green:active, a.multi-line-button.green.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
  background-image: -webkit-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -moz-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -o-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -ms-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: linear-gradient(top, #5f9f4c, #6aaf56);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #3b742b;
}
/* line 49, ../../app/stylesheets/screen.sass */
a.multi-line-button.red {
  background-color: #bf4040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6666), color-stop(50%, #bf4040), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -moz-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -o-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -ms-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: linear-gradient(top, #cc6666, #bf4040, #993333);
  border-color: #732626;
  border-left-color: #bf4040;
  border-top-color: #bf4040;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  color: white;
  text-shadow: #862d2d 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.red:hover, a.multi-line-button.red:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d27979), color-stop(50%, #c55353), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -moz-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -o-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -ms-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: linear-gradient(top, #d27979, #c55353, #993333);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.red:active, a.multi-line-button.red.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a04545), color-stop(100%, #b24d4d));
  background-image: -webkit-linear-gradient(top, #a04545, #b24d4d);
  background-image: -moz-linear-gradient(top, #a04545, #b24d4d);
  background-image: -o-linear-gradient(top, #a04545, #b24d4d);
  background-image: -ms-linear-gradient(top, #a04545, #b24d4d);
  background-image: linear-gradient(top, #a04545, #b24d4d);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #732626;
}
/* line 51, ../../app/stylesheets/screen.sass */
a.multi-line-button.orange {
  background-color: #d98026;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e19951), color-stop(50%, #d98026), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -moz-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -o-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -ms-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: linear-gradient(top, #e19951, #d98026, #ae661e);
  border-color: #824d17;
  border-left-color: #d98026;
  border-top-color: #d98026;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  color: white;
  text-shadow: #985a1b 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.orange:hover, a.multi-line-button.orange:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -moz-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -o-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -ms-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
a.multi-line-button.orange:active, a.multi-line-button.orange.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8732e), color-stop(100%, #cc8033));
  background-image: -webkit-linear-gradient(top, #b8732e, #cc8033);
  background-image: -moz-linear-gradient(top, #b8732e, #cc8033);
  background-image: -o-linear-gradient(top, #b8732e, #cc8033);
  background-image: -ms-linear-gradient(top, #b8732e, #cc8033);
  background-image: linear-gradient(top, #b8732e, #cc8033);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #824d17;
}

/* line 54, ../../app/stylesheets/screen.sass */
.multi-line {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  margin: 0.2em auto;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #60a3d8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));
  background-image: -webkit-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -moz-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -o-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: -ms-linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  background-image: linear-gradient(top, #89bbe2, #60a3d8, #378bce);
  border-color: #2970a9;
  border-left-color: #60a3d8;
  border-top-color: #60a3d8;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: #2e7ebd 0 1px 2px;
}
/* line 12, ../../app/stylesheets/_multi-line-button.sass */
.multi-line .title {
  font-size: 24px;
  font-weight: bold;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 17, ../../app/stylesheets/_multi-line-button.sass */
.multi-line .subtitle {
  font-size: 14px;
  display: block;
  margin-top: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 23, ../../app/stylesheets/_multi-line-button.sass */
.multi-line:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 25, ../../app/stylesheets/_multi-line-button.sass */
.multi-line:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 27, ../../app/stylesheets/_multi-line-button.sass */
.multi-line:active {
  padding: 13px 15px 11px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
.multi-line:hover, .multi-line:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9dc7e7), color-stop(50%, #74afdd), color-stop(100%, #378bce));
  background-image: -webkit-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -moz-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -o-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: -ms-linear-gradient(top, #9dc7e7, #74afdd, #378bce);
  background-image: linear-gradient(top, #9dc7e7, #74afdd, #378bce);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
.multi-line:active, .multi-line.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5796c8), color-stop(100%, #6aa2ce));
  background-image: -webkit-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -moz-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -o-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: -ms-linear-gradient(top, #5796c8, #6aa2ce);
  background-image: linear-gradient(top, #5796c8, #6aa2ce);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #2970a9;
}
/* line 56, ../../app/stylesheets/screen.sass */
.multi-line.green {
  background-color: #63bb4a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -moz-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -o-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: -ms-linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  background-image: linear-gradient(top, #83c96f, #63bb4a, #4e9939);
  border-color: #3b742b;
  border-left-color: #63bb4a;
  border-top-color: #63bb4a;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(233, 233, 233, 0.5);
  color: white;
  text-shadow: #458632 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.green:hover, .multi-line.green:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -moz-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -o-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: -ms-linear-gradient(top, #93d082, #73c25d, #4e9939);
  background-image: linear-gradient(top, #93d082, #73c25d, #4e9939);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.green:active, .multi-line.green.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
  background-image: -webkit-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -moz-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -o-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: -ms-linear-gradient(top, #5f9f4c, #6aaf56);
  background-image: linear-gradient(top, #5f9f4c, #6aaf56);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #3b742b;
}
/* line 58, ../../app/stylesheets/screen.sass */
.multi-line.red {
  background-color: #bf4040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6666), color-stop(50%, #bf4040), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -moz-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -o-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: -ms-linear-gradient(top, #cc6666, #bf4040, #993333);
  background-image: linear-gradient(top, #cc6666, #bf4040, #993333);
  border-color: #732626;
  border-left-color: #bf4040;
  border-top-color: #bf4040;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(230, 230, 230, 0.5);
  color: white;
  text-shadow: #862d2d 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.red:hover, .multi-line.red:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d27979), color-stop(50%, #c55353), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -moz-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -o-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: -ms-linear-gradient(top, #d27979, #c55353, #993333);
  background-image: linear-gradient(top, #d27979, #c55353, #993333);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.red:active, .multi-line.red.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a04545), color-stop(100%, #b24d4d));
  background-image: -webkit-linear-gradient(top, #a04545, #b24d4d);
  background-image: -moz-linear-gradient(top, #a04545, #b24d4d);
  background-image: -o-linear-gradient(top, #a04545, #b24d4d);
  background-image: -ms-linear-gradient(top, #a04545, #b24d4d);
  background-image: linear-gradient(top, #a04545, #b24d4d);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #732626;
}
/* line 60, ../../app/stylesheets/screen.sass */
.multi-line.orange {
  background-color: #d98026;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e19951), color-stop(50%, #d98026), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -moz-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -o-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: -ms-linear-gradient(top, #e19951, #d98026, #ae661e);
  background-image: linear-gradient(top, #e19951, #d98026, #ae661e);
  border-color: #824d17;
  border-left-color: #d98026;
  border-top-color: #d98026;
  -moz-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  -o-box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  box-shadow: inset 1px 1px 0 0 rgba(235, 230, 224, 0.5);
  color: white;
  text-shadow: #985a1b 0 1px 2px;
}
/* line 48, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.orange:hover, .multi-line.orange:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -moz-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -o-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: -ms-linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
  background-image: linear-gradient(top, #e4a667, #dd8d3c, #ae661e);
}
/* line 50, ../../app/stylesheets/_multi-line-button.sass */
.multi-line.orange:active, .multi-line.orange.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8732e), color-stop(100%, #cc8033));
  background-image: -webkit-linear-gradient(top, #b8732e, #cc8033);
  background-image: -moz-linear-gradient(top, #b8732e, #cc8033);
  background-image: -o-linear-gradient(top, #b8732e, #cc8033);
  background-image: -ms-linear-gradient(top, #b8732e, #cc8033);
  background-image: linear-gradient(top, #b8732e, #cc8033);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #824d17;
}

/* line 63, ../../app/stylesheets/screen.sass */
a.admin {
  font-family: sans;
  padding: 0 1px 0px 2px;
  color: red;
  text-decoration: none;
}
/* line 68, ../../app/stylesheets/screen.sass */
a.admin:hover {
  color: white;
  background-color: red;
}

/* line 72, ../../app/stylesheets/screen.sass */
.red {
  color: red;
}

/* line 75, ../../app/stylesheets/screen.sass */
img.avatar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-right: 7px;
  vertical-align: middle;
}

/* line 81, ../../app/stylesheets/screen.sass */
a.userpic {
  text-decoration: none;
  color: #999999;
}
/* line 83, ../../app/stylesheets/screen.sass */
a.userpic span.username {
  border-bottom: 1px dotted #999999;
}
/* line 85, ../../app/stylesheets/screen.sass */
a.userpic span.username:hover {
  border-color: red;
}

/* line 89, ../../app/stylesheets/screen.sass */
#liveinternet {
  padding-top: 17px;
}

/* line 92, ../../app/stylesheets/screen.sass */
.users {
  padding-top: 20px;
  padding-bottom: 50px;
}
/* line 95, ../../app/stylesheets/screen.sass */
.users h2.left {
  padding-top: 0;
  margin-top: 0;
}
/* line 98, ../../app/stylesheets/screen.sass */
.users h2.left span {
  color: gray;
}

/* line 2, ../../app/stylesheets/_discourses.sass */
h2.section_name {
  padding: 0;
  margin: 25px 0 0 0;
  color: #333333;
  font-size: 18px;
}

/* line 10, ../../app/stylesheets/_discourses.sass */
p.discourse-description {
  padding-left: 20px;
  font-size: 11px;
}

/* line 14, ../../app/stylesheets/_discourses.sass */
ol.section {
  padding-left: 0px;
}
/* line 16, ../../app/stylesheets/_discourses.sass */
ol.section li.discourse {
  list-style: none;
  padding: 5px 0 7px 0;
}

/* line 20, ../../app/stylesheets/_discourses.sass */
.wait_assigner {
  padding-top: 3px;
  font-style: italic;
  color: green;
  font-size: 11px;
}

/* line 27, ../../app/stylesheets/_discourses.sass */
.discourse-rating {
  padding-left: 15px;
}

/* line 29, ../../app/stylesheets/_discourses.sass */
.discourse-rating-numeric {
  color: #aaaaaa;
  font-size: 11px;
}

/* line 33, ../../app/stylesheets/_discourses.sass */
.discourse-assigners {
  padding-left: 20px;
  padding-top: 6px;
  font-size: 11px;
  color: gray;
}
/* line 38, ../../app/stylesheets/_discourses.sass */
.discourse-assigners a {
  color: gray;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.discourse-assigners a:hover {
  color: red;
}

/* line 40, ../../app/stylesheets/_discourses.sass */
.discourse-actions {
  padding-left: 20px;
  padding-top: 7px;
  font-size: 11px;
}

/* line 47, ../../app/stylesheets/_discourses.sass */
.new_discourses .block {
  width: 300px;
}
/* line 49, ../../app/stylesheets/_discourses.sass */
.new_discourses .desc {
  padding-top: 10px;
  font-size: 12px;
  font-style: italic;
  color: gray;
}

/* line 1, ../../app/stylesheets/_conferences.sass */
p.conference_date {
  font-size: 18px;
  font-weight: bold;
  color: #cccccc;
  padding-bottom: 0;
  float: right;
}

/* line 8, ../../app/stylesheets/_conferences.sass */
h1.conference_name {
  font-size: 24px;
  color: #999999;
  padding-bottom: 0;
}

/* line 13, ../../app/stylesheets/_conferences.sass */
.conference_desc {
  font-style: italic;
  color: gray;
}

/* line 104, ../../app/stylesheets/screen.sass */
.leftside {
  float: left;
  width: 400px;
}

/* line 1, ../../app/stylesheets/_sidebar.sass */
.sidebar {
  float: right;
  width: 300px;
  padding-top: 20px;
}
/* line 5, ../../app/stylesheets/_sidebar.sass */
.sidebar img.barcamp {
  width: 300px;
  padding-bottom: 20px;
}
/* line 9, ../../app/stylesheets/_sidebar.sass */
.sidebar ul {
  padding-left: 15px;
  padding-bottom: 20px;
}
/* line 14, ../../app/stylesheets/_sidebar.sass */
.sidebar .members .link_to_all {
  float: left;
  padding: 5px 0 0 15px;
}

/* line 1, ../../app/stylesheets/_program.sass */
.program {
  float: left;
  width: 400px;
  /* ol */
  /*   padding-top: 5px */
  /*   li */
  /*     font-size: 11px */
  /*     padding-top: 2px */
}
/* line 5, ../../app/stylesheets/_program.sass */
.program i {
  color: gray;
  /* a */
  /*   // +link-colors(#4b7399, red) */
  /*   +link-colors(#666, red) */
}

/* line 1, ../../app/stylesheets/_tags.sass */
ul.tags {
  color: #aaaaaa;
  font-style: italic;
}
/* line 5, ../../app/stylesheets/_tags.sass */
ul.tags li.tag {
  white-space: nowrap;
  display: inline;
}
/* line 8, ../../app/stylesheets/_tags.sass */
ul.tags a {
  text-decoration: none;
  border-bottom: 1px dotted #aaaaaa;
  color: #aaaaaa;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.tags a:hover {
  color: black;
}

/* line 13, ../../app/stylesheets/_tags.sass */
ul.tag_cloud {
  padding-top: 0px;
  text-align: center;
  line-height: 28px;
  /* li:before */
  /*   color: #666 */
  /*   content: "," */
  /*   margin-left: -1ex */
  /*   margin-right: 1ex */
}
/* line 18, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li {
  white-space: nowrap;
  display: inline;
  font-style: italic;
  padding-right: 10px;
}
/* line 23, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li sup {
  font-size: 10px;
  color: #cccccc;
}
/* line 26, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li.css1 {
  color: #cccccc;
}
/* line 28, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li.css2 {
  color: #999999;
}
/* line 30, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li.css3 {
  color: #666666;
}
/* line 32, ../../app/stylesheets/_tags.sass */
ul.tag_cloud li.css4 {
  color: black;
}

/* line 2, ../../app/stylesheets/_welcome.sass */
.info .discourses_menu {
  padding: 20px 0;
}
/* line 4, ../../app/stylesheets/_welcome.sass */
.info .discourses_menu a {
  font-size: 18px;
  font-weight: bold;
}

/* line 1, ../../app/stylesheets/_comments.sass */
a.comments-link {
  color: #666666;
}

/* line 3, ../../app/stylesheets/_comments.sass */
ul.subcomments {
  margin-left: 20px;
}

/* line 5, ../../app/stylesheets/_comments.sass */
.subcomment_new {
  display: none;
}

/* line 7, ../../app/stylesheets/_comments.sass */
ul.comments {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 10, ../../app/stylesheets/_comments.sass */
ul.comments h2.comments-header {
  color: #afa56a;
  font-size: 120%;
}
/* line 13, ../../app/stylesheets/_comments.sass */
ul.comments h2.comments-header #comments-total-counter {
  color: #afa56a;
}
/* line 15, ../../app/stylesheets/_comments.sass */
ul.comments li.comment {
  margin-top: 15px;
  list-style-type: none;
}
/* line 18, ../../app/stylesheets/_comments.sass */
ul.comments li.comment .comment-details {
  /* margin-left: 10px */
  font-size: 12px;
  font-family: Serif;
  height: 20px;
  line-height: 20px;
  color: #999999;
  padding-bottom: 0px;
}
/* line 26, ../../app/stylesheets/_comments.sass */
ul.comments li.comment .comment-content {
  margin: 2px 0;
  /* padding-left: 27px */
  font-style: italic;
  font-size: 12px;
  color: #666666;
}
/* line 33, ../../app/stylesheets/_comments.sass */
ul.comments li.comment .comment-actions {
  margin-left: 10px;
}

/* line 36, ../../app/stylesheets/_comments.sass */
a.j-comment-answer {
  font-size: 11px;
  text-decoration: none;
  border-bottom: 1px dashed #4b7399;
}
/* line 40, ../../app/stylesheets/_comments.sass */
a.j-comment-answer:hover {
  border-color: red;
}

/* .comments */
/*   padding-top: 30px */
/*   padding-left: 30px */
/*   h2.comments-header */
/*     margin: 0 */
/*     padding: 0 */
/*     padding-left: 23px */
/*     font:normal 1.67em/105% Verdana,sans-serif */
/*     letter-spacing: -1px */
/*     color: #afa56a */
/*     background: #fff url(/images/comments.gif) 0 60% no-repeat */
/*   #Стиль для общего списка комментариев */
/*   ul.all_comments */
/*     margin: 0 */
/*     padding: 0 */
/*     list-style-type: none */
/*   ul.comment_user */
/*     margin-top: 0px */
/*     background: white */
/*     position: relative */
/*     +horizontal-list */
/*     li */
/*       padding-top: 0px */
/*   .comment_content */
/*     clear:left */
/*     margin: 0px */
/*     margin-top: 10px */
/*     margin-bottom: 10px */
/*   .msg-meta */
/*     position: relative */
/*     .folding-dot-holder */
/*       z-index: 0 */
/*       display: none */
/*       position: absolute */
/*       top: -4px */
/*       left: 0px */
/*       width: 1px */
/*       height: 1px */
/*     #Для реализации точки, которая указывает на комментарий */
/*     .folding-dot */
/*       z-index: 0 */
/*       width: 500px */
/*       left: -20px */
/*       top: -4px */
/*       height: 5px */
/*       background: red */
/*       right: 0px */
/*       top: 11px */
/*       position: absolute */
/*       background: url(/images/bg-folding-dot-light.png) */
/*   .comment_holder */
/*     float: left */
/*     width: 100% */
/*   .comment_menu */
/*     margin-top: 10px */
/*     margin-bottom: 10px */
/*     a */
/*       color: #717171 */
/*       text-decoration: none */
/*     a:hover */
/*       color: #717171 */
/*       text-decoration: underline */
/*     a:visited */
/*       color: #717171 */
/*   .add-comment */
/*     display: none */
/* line 117, ../../app/stylesheets/screen.sass */
h1 {
  padding-bottom: 30px;
}

/* line 119, ../../app/stylesheets/screen.sass */
.flashes {
  padding-top: 20px;
}

/* line 122, ../../app/stylesheets/screen.sass */
a {
  color: #4b7399;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: red;
}
/* line 124, ../../app/stylesheets/screen.sass */
a.back {
  padding-top: 10px;
}
/* line 127, ../../app/stylesheets/screen.sass */
a.lucid {
  color: red;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a.lucid:hover {
  color: red;
}

/* line 132, ../../app/stylesheets/screen.sass */
.subtitle a {
  color: white;
}

/* line 135, ../../app/stylesheets/screen.sass */
h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 138, ../../app/stylesheets/screen.sass */
h2 span {
  color: #cccccc;
}

/* line 141, ../../app/stylesheets/screen.sass */
.left {
  float: left;
}

/* line 144, ../../app/stylesheets/screen.sass */
.right {
  float: right;
}

/* line 147, ../../app/stylesheets/screen.sass */
.likes {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* line 151, ../../app/stylesheets/screen.sass */
.ad {
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #eeeeee;
}

/* line 160, ../../app/stylesheets/screen.sass */
.register p {
  margin-bottom: 0px;
}

/* line 163, ../../app/stylesheets/screen.sass */
dt {
  font-weight: bold;
  color: #666666;
}

/* line 166, ../../app/stylesheets/screen.sass */
dd {
  font-size: smaller;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

/* line 171, ../../app/stylesheets/screen.sass */
ul {
  padding: 0px;
}
/* line 174, ../../app/stylesheets/screen.sass */
ul li {
  padding: 10px 0px 0px 0px;
}
/* line 176, ../../app/stylesheets/screen.sass */
ul#login {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  list-style: none inside;
  float: right;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#login li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#login li:first-child, ul#login li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#login li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#login li.last {
  padding-right: 0;
}
/* line 180, ../../app/stylesheets/screen.sass */
ul#login li:before {
  color: #666666;
  content: "|";
  margin-left: -1ex;
  margin-right: 1ex;
}
/* line 185, ../../app/stylesheets/screen.sass */
ul#login li {
  padding-left: 10px;
}

/* ul{ */
/*   list-style: none inside; */
/*   } */
/* ul>li: before{ */
/*   content: "\2043"; */
/*   margin-left: -1ex; */
/*   margin-right: 1ex; */
/* } */
/* .g-tags */
/*   padding-top: 40px */
/*   color: gray */
/* line 205, ../../app/stylesheets/screen.sass */
h1 {
  margin-top: 2em;
  margin-bottom: 0.7em;
  padding-bottom: 0em;
}
