%h2 Забыли свой пароль?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %fieldset.inputs
    = f.input :email
  %fieldset.buttons
    %center
      %button.thoughtbot Выслать инструкции
= render :partial => "devise/shared/links"
