%p.conference_date= @conference.date.to_s
%h1.conference_name= @conference.name
%p.conference_desc= @conference.desc

- @conference.conference_sections.each do |cs|
  = render 'conference_sections/conference_section', :conference_section=>cs
