%p.conference_date= @conference.date.to_s(:human)
%h1.conference_name= @conference.name
%p.conference_desc= @conference.desc

- @conference.sections.each do |section|
  = render 'sections/section', :section=>section, :conference=>@conference
