%h1#about Зачем нужен CHEBIT и что это такое?

%p Идея проста. Если вы хотите что-то узнать — попросите об этом рассказать, а сами сделайте доклад о том, что знаете вы.
%p Основная цель конференции дать профессиональным региональным веб-разработчикам возможность полноценно общаться и обмениваться опытом.
%p Сейчас уже ни один программист не в состоянии уследить за всеми появляющимися технологиями. 80% современного облачного ПО пишется используюя библиотеки, платформы и технологии, которые еще не существовали 3 года назад.
%p Наша конференция проходит в стиле barcamp, когда участники встречаются на равных и в удобном виде делятся (презентуют, докладывают) знаниями. Это очень хороший способ улучшить свои профессиональные навыки.
%p Другая цель конференции, показать молодым профессионалам, что они могут плодотворно работать, расти профессионально и иметь достойный заработок в своем родном городе, их тут ценят не меньше. Сейчас и в Чебоксарах, и в Ульяновске и в Казани, зарплата хорешего программиста в 80-100 тыс. руб. не редкость.
%p Часть докладов Крилли Мокевнина, Антона Анучиня посвящены этой теме. Они сделали успешную карьеру в столице и вернулись в "родные пенаты", где продолжают работать, создают свои коллективы, полноценно выступающие на современном высококонкурентном рынке ПО под web.
%p И третье. Веб-разработчик, это не только "сайты на заказ". Облачные решения, сервисы (SaaS) это сложное комплексное программное обеспечение которое строится по своим законам и правилам. Знать их и уметь ипользовать — гарантия профессионального роста современного программиста.
