%p
  %ul.partners
    %li Парнтеры:
    %li= link_to 'Авис-дизайн', 'http://www.avis-design.ru/'
    %li= link_to 'zhazhda.ru', 'http://zhazhda.ru/'
    %li= link_to 'ChebyToday', 'http://chebytoday.ru/'
-# %p
-#   Powered By Ruby On Rails
-#   %br
-#   = link_to(image_tag('/images/rails.png'),'http://rubyonrails.org/')
