.add-comment
  - form_for [item, Comment.new()] do |f|
    = f.error_messages
    %p
      = f.label  'Сообщение'
      %br/
      = f.text_area :content, :rows => 6
      .actions
      %button.cupid-green Готово 
