<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
  <tr><td>
  <img src="http://groups.google.com/intl/ru/images/logos/groups_logo_sm.gif"
         height=30 width=149 alt="Группы Google">
  </td></tr>
  <tr><td style="padding-left: 5px"> <b>Подпишитесь на CHEBIT - Чебоксарский barcamp</b> </td></tr>
  <form action="http://groups.google.com/group/chebit/boxsubscribe">
  <input type=hidden name="hl" value="ru">
  <tr><td style="padding-left: 5px;"> Электронная почта: <input type=text name=email>
  <input type=submit name="sub" value="Подписка">
  </td></tr>
</form>
<tr><td align=right> <a href="http://groups.google.com/group/chebit?hl=ru">Перейти в эту группу</a> </td></tr>
</table>
