.b-user
  float: left
  width: 300px
  height: 100px
  border: 1px dotted #999
  .avatar
    float: left
    padding: 0px 10px 5px 0px
  .name
    /* font-weight: bold
    /* color: #666
  .info
    font-size: 11px
    color: gray
    .tags
      font-style: italic
        