.b-user
  float: left
  width: 225px
  height: 50px
  // border: 1px dotted #999
  padding: 0px 10px 15px 0px
  .avatar
    float: left
    padding: 0px 10px 5px 0px
  .name
    line-height: 13px

    /* font-weight: bold
    /* color: #666
  .occupation
    padding-top: 5px
    font-size: 11px
    line-height: 11px
    color: gray
  .info
    font-size: 11px
    color: gray
    .firm
      // font-weight: bold
    .tags
      padding-top: 7px
      font-style: italic
        