#comments
  h2.comments-header
    margin: 0px 0 20 px
    padding-left: 23px
    font:normal 1.67em/105% Verdana,sans-serif
    letter-spacing: -1px
    color: #afa56a
    background: #fff url(/images/comments.gif) 0 60% no-repeat
  ul.comment_user
    float: left
    +horizontal-list
    li
      padding-top: 0px
