
h2.section_name
  padding: 0
  margin: 25px 0 0 0
  color: #333
  font-size: 18px

p.discourse-description
  font-size: 11px

ol.section
  padding-left: 20px
  li.discourse
    padding: 5px 0 7px 0

.wait_assigner
  padding-top: 3px
  font-style: italic
  color: green
  font-size: 11px


.discourse-rating
  padding-left: 15px
.discourse-rating-numeric
  color: #aaa
  font-size: 11px

.discourse-assigners
  padding-top: 6px
  font-size: 11px
  color: gray
  a
    +link-colors(gray, red)
.discourse-actions
  padding-top: 7px
  font-size: 11px


.new_discourses
  .block
    width: 300px
  .desc
    padding-top: 10px
    font-size: 12px
    font-style: italic
    color: gray
