#footer
  background-image: url(/images/bg_footer.png)
  background-repeat: repeat-x
  background-position: bottom
  background-color: white
  border-top: 1px dashed #999
  margin-top: 30px

  padding: $padding_top - 10px $padding_width $padding_bottom $padding_width
  font-size: 11px
  color: gray
  width: auto
  img
    margin-top: 15px
  span
    float: left
  ul.partners
    float: left
    +horizontal-list
    li
      padding-top: 0px
      // padding-left: 10px
    li:before
      color: #666
      content: ","
      margin-left: -1ex
      margin-right: 1ex
