.program
  
  float: left
  width: 400px
  h1
    font-size: 24px
    color: #ccc
    padding-bottom: 0
  h2
    padding: 0
    margin: 25px 0 0 0
    color: #333
    font-size: 18px
  i
    color: gray
  ol
    padding-left: 20px
    li
      padding: 5px 0 5px 0
      /* a
      /*   // +link-colors(#4b7399, red)
      /*   +link-colors(#666, red)
  
  /* ol
  /*   padding-top: 5px
  /*   li
  /*     font-size: 11px
  /*     padding-top: 2px
  .wait_assigner
    padding-top: 3px
    font-style: italic
    color: green
    font-size: 11px
  .assigner
    padding-top: 3px
    font-size: 11px
    color: gray    
    a
      +link-colors(gray, red)
