ul.tags
  // padding-top: 7px
  color: #aaa
  font-style: italic
  li.tag
    white-space: nowrap
    display: inline
  a
    text-decoration: none
    border-bottom: 1px dotted #aaa
    +link-colors(#aaa, black)

ul.tag_cloud
  // +horizontal-list
  padding-top: 0px
  text-align: center
  line-height: 28px
  li
    white-space: nowrap
    display: inline
    font-style: italic
    padding-right: 10px
    sup
      font-size: 10px
      color: #ccc
    &.css1
      color: #ccc
    &.css2
      color: #999
    &.css3
      color: #666
    &.css4
      color: black

  /* li:before
  /*   color: #666
  /*   content: ","
  /*   margin-left: -1ex
  /*   margin-right: 1ex
