// $primary_color = #4B7399
$content_width: 900px
$padding_width: 80px
$padding_bottom: 40px
$padding_top: $padding_bottom

$link_color: #4b7399


@import "compass/css3/border-radius"
/* @import "compass/css3/gradient"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/links/hover-link"
@import "compass/css3/text-shadow"
@import "compass/css3/background-clip"
@import "compass/css3/opacity"
@import "compass/css3/gradient"
@import "compass/typography/links/unstyled-link"

@import nifty

@import success-sasses/buttons/all
@import success-sasses/mixins/sass_tools
@import success-sasses/simple_form/simple_form

@import topper
@import header
@import mainmenu
@import content
@import footer
@import bottom

@import show_table
@import b-discourse
@import b-user
@import b-user-show
@import multi-line-button


a.multi-line-button
  +multi-line-button(#60a3d8)
  &:hover
    color: white
  &.green
    +color-multi-line-button(#63bb4a)
  &.red
    +color-multi-line-button(#bf4040)
  &.orange
    +color-multi-line-button(#d98026)

.multi-line
  +multi-line-button(#60a3d8)
  &.green
    +color-multi-line-button(#63bb4a)
  &.red
    +color-multi-line-button(#bf4040)
  &.orange
    +color-multi-line-button(#d98026)

a.admin
  font-family: sans
  color: red
  text-decoration: none
  &:hover
    color: white
    background-color: red


img.avatar
  +border-radius(3px)
  margin-right: 7px
  vertical-align: middle


a.userpic
  text-decoration: none
  span.username
    border-bottom: 1px dotted #999
    &:hover
      border-color: red
  +link-colors(#999)

#liveinternet
  padding-top: 17px

.users
  padding-top: 20px
  padding-bottom: 50px
  h2.left
    padding-top: 0
    margin-top: 0
    span
      color: gray

@import discourses
@import conferences

.leftside
  float: left
  width: 400px

@import sidebar
// @import toc
@import program
@import tags

@import welcome
@import comments


h1
  padding-bottom: 30px
.flashes
  padding-top: 20px

a
  +link-colors($link_color, red)
  &.back
    padding-top: 10px
  // Яркие ссылки
  &.lucid

    +link-colors(red, red)

.subtitle
  a
    +link-colors(white)

h2
  padding-top: 20px
  padding-bottom: 10px
  span
    color: #ccc

.left
  float: left

.right
  float: right

.likes
  padding-top: 40px
  padding-bottom: 20px

.ad
  margin-top: 40px
  padding: 10px 20px 10px 20px
  text-align: center
  font-size: 14px
  +border-radius(10px)
  background-color: #eee


ul
  // margin: 0px
  padding: 0px
  li
    padding: 10px 0px 0px 0px
  &#login
    +horizontal-list
    list-style: none inside
    float: right
    li:before
      color: #666
      content: "|"
      margin-left: -1ex
      margin-right: 1ex
    li
      padding-left: 10px
      //  &#x00B7;


/* ul{
/*   list-style: none inside;
/*   }
/* ul>li: before{
/*   content: "\2043";
/*   margin-left: -1ex;
/*   margin-right: 1ex;
/* }
// welcome/index

/* .g-tags
/*   padding-top: 40px
/*   color: gray

