// $primary_color = #4B7399
$content_width: 900px
$padding_width: 80px
$padding_bottom: 40px
$padding_top: $padding_bottom

@import "compass/css3/border-radius"
/* @import "compass/css3/gradient"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/lists/horizontal-list"

@import nifty

@import success-sasses/buttons/all
@import success-sasses/mixins/sass_tools
@import success-sasses/simple_form/simple_form

@import topper
@import header
@import content
@import footer
@import bottom

@import show_table
@import b-discourse
@import b-user
@import b-user-show

.users
  padding-top: 20px
  padding-bottom: 50px
  h2.left
    padding-top: 0
    margin-top: 0
    span
      color: gray

@import discourses

.leftside
  float: left
  width: 400px

@import sidebar
// @import toc
@import program
@import tags

@import welcome


$link_color: #4b7399

h1
  padding-bottom: 30px
.flashes
  padding-top: 20px

a
  +link-colors($link_color, red)
  &.back
    padding-top: 10px
  // Яркие ссылки
  &.lucid

    +link-colors(red, red)

h2
  padding-top: 20px
  padding-bottom: 10px
  span
    color: #ccc

.left
  float: left

.right
  float: right

.likes
  padding-top: 40px
  padding-bottom: 20px

.ad
  margin-top: 40px
  padding: 10px 20px 10px 20px
  text-align: center
  font-size: 14px
  +border-radius(10px)
  background-color: #eee


ul
  // margin: 0px
  padding: 0px
  li
    padding: 10px 0px 0px 0px
  &#login
    +horizontal-list
    list-style: none inside
    float: right
    li:before
      color: #666
      content: "|"
      margin-left: -1ex
      margin-right: 1ex
    li
      padding-left: 10px
      //  &#x00B7;


/* ul{
/*   list-style: none inside;
/*   }
/* ul>li: before{
/*   content: "\2043";
/*   margin-left: -1ex;
/*   margin-right: 1ex;
/* }
// welcome/index

/* .g-tags
/*   padding-top: 40px
/*   color: gray
