%h2 Программа

%dl
  %dt Apache Hadoop в Вашем проекте
  %dd Алексеей Макеев, mail.ru, Москва.
 
  %dt Функциональное программирование.
  %dd Игорь Исаев, bars-open.ru, Казань.

  %dt Внутренне устройство git
  %dd Виктор Гумаюнов, tulp.ru, Ульяновск.
  %dd Расскажу про внутренее устройство git + некоторые практические советы для новичков. На тему руби/рельс могу рассказать про свой гем для разделения доступа в приложении по ролям и тарифным планам. 
 
  %dt Инфраструктура веб-приложений в компании Undev
  %dd Nick Recorba, ведущий разработчик undev.ru, Москва.
  %dd
    Я хочу рассказать об инфраструктуре нашей компании, которая позволяет
    нам совместно разрабатывать код, делиться им между проектами, быстро
    развертывать новые сервера и приложения на них в различных
    конфигурациях; а уже после запуска следить за жизнеспособностью наших
    приложений и оперативно выявлять проблемы. Практически все компоненты
    нашей инфраструктуры являются шикороизвестными open-source проектами,
    но есть среди них и пара компонентов, которые были разработаны в
    недрах нашей компании. Доклад будет интересен не только разработчикам,
    но и тем, кто занимается сопровождением приложений, их принято сейчас
    называть devops'ами.
   
  %dt Окружение и инструментарий веб-разработчика.
  %dd Данил Письменный, brandymint.ru, aydamaster.ru, investcafe.ru, Чебоксары.

  %dt История про камбек №1
  %dd Кирилл Мокевнин. Руководитель филиала undev.ru. Ульяновск.
 
  %dt История про камбек №2
  %dd Антон Анучин. Руководитель Веб-Атмосфера. Чебоксары.

  %dt и другие
