%h2 Программа

%dl
  %dt Apache Hadoop в Вашем проекте
  %dd Алексеей Макеев, mail.ru, Москва.
 
  %dt Функциональное программирование.
  %dd Игорь Исаев, bars-open.ru, Казань.

  %dt Внутренне устройство git
  %dd Виктор Гумаюнов, tulp.ru, Ульяновск.
  %dd Расскажу про внутренее устройство git + некоторые практические советы для новичков. На тему руби/рельс могу рассказать про свой гем для разделения доступа в приложении по ролям и тарифным планам. 
 
  %dt Инфраструктура для быстрого развертывания и сопровождения веб-приложени
  %dd Nick Recorba, ведущий разработчик undev.ru, Москва.
  %dd Хочу рассказать что-то на тему того, в какой инфраструктуре живут наши прилжения, как осуществляется ее сопровождение — то, что нужно чтобы оставалось только писать и беззаботно разворачивать приложения одно за другим.
 
  %dt Окружение и инструментарий веб-разработчика.
  %dd Данил Письменный, brandymint.ru, aydamaster.ru, investcafe.ru, Чебоксары.

  %dt История про камбек №1
  %dd Кирилл Мокевнин. Руководитель филиала undev.ru. Ульяновск.
 
  %dt История про камбек №2
  %dd Антон Анучин. Руководитель Веб-Атмосфера. Чебоксары.

  %dt и другие
