= image_tag '/images/barcamp.jpg', :width=>300, :class=>'barcamp'

%ul
  Конференция для тех, кто:
  %li Знаком с технологями 
  %li Занимается разработкой веб-приложений: сайтов, сервисов и игр для интернет;
  %li Кому есть что рассказать и кто хочет узнать новое о любимом занятии.


- if signed_in?
  %p
    %b Вы зарегистрированы.
- else
  %br
    = link_to "<button class='cupid-green'>Регистрация..</button>".html_safe, new_registration_path(User)

%br
  = render 'users/users'

.clear
.g-tags
  %em
    Ruby, PHP, Java Servlet, ASP.NET, Perl, Macromedia Flash, Adobe Flex, MySQL, postgresql, JavaScript, AJAX, HTML5, xHTML, CSS3, Apache, ngnix, Linux, TDD/BDD, rspec, cucumber &hellip;
