.info
  %p
    = link_to "<b>Актукально:</b> обсуждение августовской конференции CHEBIT'11-02 (27.08.2011)".html_safe, 'http://groups.google.com/group/chebit/'

  %p
    = link_to 'Видео отчет', 'http://chebit.ru/system/chebit11-02/video/'

-# = render 'shared/google_group'

= render 'shared/twitter_widget'
%br/
%br/
-# = render 'shared/reformal_widget'

= render 'shared/tag_cloud'


.clear

-# .ad
-#   Объявление:
-#   = link_to 'Требуется ruby-программист на full/half-time, можно удаленно', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
