
= render 'shared/fotki_yandex'


= render 'shared/twitter_widget'
%br/
%br/
-# = render 'shared/reformal_widget'

= render 'shared/tag_cloud'


.clear

-# .ad
-#   Объявление:
-#   = link_to 'Требуется ruby-программист на full/half-time, можно удаленно', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
