= image_tag '/images/barcamp.jpg', :width=>300, :class=>'barcamp'

%ul
  Конференция для тех, кто:
  %li Знаком с технологиями;
  %li Занимается разработкой веб-приложений: сайтов, сервисов и игр для интернет;
  %li Кому есть что рассказать и кто хочет узнать новое о любимом занятии.


- if signed_in?
  %p
    %b Вы зарегистрированы.
- else
  %br
    = link_to "<button class='cupid-green'>Регистрация..</button>".html_safe, new_registration_path(User)

%br
  = render 'users/users'

.clear

= render 'shared/tag_cloud'
