= form_for( @discourse || Discourse.new ) do |f|
  -# = form_for(@discourse) do |f|

    -# - if @discourse.errors.any?
    -#   #error_explanation
    -#     %h2
    -#       = pluralize(@discourse.errors.count, "error")
    -#       prohibited this discourse from being saved:

    -#     %ul
    -#     - @discourse.errors.full_messages.each do |msg|
    -#       %li= msg
  = f.text_field :subject
  -# = f.input :text
  -# = f.input :author_id
  -# = f.input :assigner_id
  %button.cupid-green Ok
  -# = link_to "<button class='cupid-green'>Я бы сам сделал доклад..</button>".html_safe, new_discourse_path

  -# .actions
  -#   = f.button :submit
