%p
  Никто из нас не является профессиональным оратором. Конференция проходит в неформальном формате и организуется самими докладчиками.
%p 
  Если выхотите узнать о чем-то - попросите на эту тему сделать доклад. Есть о чем рассказать? Узнайте на сколько это будет интересно слушателям прямо сейчас.

.new_discourses
  .block.left
    %button.thoughtbot Я бы послушал о..

  .block.right
    %button.thoughtbot Сделаю доклад на тему
    = render 'discourses/form'
    .desc
      Незнаете на сколько интересна Ваша тема докалада? Для начала разместите ее, слушатели оценят.


.clear
