%p
  Сайтик сделали:
  %a{:href=>"https://github.com/dapi"}dapi,
  %a{:href=>"https://github.com/alekspav"}alekspav
  %a{:href=>"https://github.com/PeterEgorov"}PeterEgorov
%p
  Код выложили на
  %a{:href=>"https://github.com/dapi/chebit.ru"}github
  и, с нетерпением, ждем пулл реквестов.
