-# = render 'devise/shared/login'
.logo
  %h1= link_to 'CHEBiT', root_path
  .desc
    <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a> конференция в Чебоксарах.
.info
  %p
    %span Город:
    Чебоксары
  %p
    %span Место:
    <a href="http://hubspace.ru/">HubSpace &mdash; узел связи. (42-я АТС)</a>
  %p 
    %span Дата:
    9 апреля 2011 г. <i>(суббота)</i>
  %p
    %span Время:
    с 11:00 до 18:00

.clear
= show_flash
