-# = render 'devise/shared/login'
.logo
  %h1= link_to "CHEBiT", root_path
  .desc
    <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a> в Чебоксарах.
    %br/
.header-info
  %p Свободная конференция веб-разработчиков, организаторами которой являются сами докладчики.
  %p Идея проста &mdash; если вы хотите что-то узнать &mdash; попросите об этом рассказать, а сами сделайте доклад о том, что знаете вы.

.clear
