-# = render 'devise/shared/login'
.logo
  %h1= link_to 'CHEBiT', root_path
  .desc
    <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a> в Чебоксарах.
.info
  %p.conf
    Конферения &laquo;Разработка успешных веб-приложений.&raquo;
  %p
    МТВ-Центр (пр.И.Яковлева, 4Б), Конференц-Зал №6 (5-й этаж)
  %p
    9 апреля 2011 г. <i>(суббота)</i> с 12:00 до 16:00

.clear

= show_flash
